:root {
  /* Colors*/
  --color-primary: #0E2844;
  --color-secondary: #FF6525;
  --color-white: #FAFAFA;
  --color-soft: #FFF9F4;

  /* typography */
  font-size:10px;
  --sd-font-size: 2rem;
  --medium-font-size: 2.5rem;
  --big-font-size: 3.5rem;
  --h1-font-size: 7.5rem;
  --li-font-size: 1.8rem;


  /* padding */
  --sd-padding-size: 6rem;
  --ft-padding-size: 10rem;
}
/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS global */
body {
  width: 100%;
  max-width: 1250px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem 5%;
  font-family: 'Quicksand', sans-serif;
  background: var(--color-primary);
  color: var(--color-primary);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--sd-font-size);
  font-weight: 700px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
input {
  outline: none;
}
label {
  display: block;
}
/* container */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* checkout-container */
.checkout-container {
  width: 60%;
  padding: 5rem;
  background: var(--color-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* congralutions-and-plan-type */
.congralutions-and-plan-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.congralutions-and-plan h1 {
  font-size: var(--big-font-size);
  font-weight: 700;
  text-align: center;
}
/* plan-type */
.plan-type {
  margin: 2.5rem 0;
  background: var(--color-secondary);
  border-radius: 1rem;
}
.plan-type p {
  font-size: var(--medium-font-size);
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  padding: 1.5rem 2rem;
}
/* form-container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}
.form-container h2 {
  font-size: var(--sd-font-size);
  font-weight: 700;
  text-align: center;
}
/* input-group */
.input-group {
  padding-top: 1.5rem;
}
.input-group {
  font-size: var(--sd-font-size);
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1.25rem;
}
.input-group input {
  width: 100%;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  border: solid .3rem var(--color-secondary);
}
/* card-special-info */
.card-special-info {
  display: flex;
  align-items: center;
}
.card-special-info .input-group {
  margin-right: .20rem;
}
.card-special-info .input-group input {
  width: 90%;
}
.card-special-info .input-group input[name= 'expirationDate']::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-primary);
}
/* btn-container */
.btn-container {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.btn-container button {
  width: 60%;
  padding: 2rem 1.25rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--medium-font-size);
  font-weight: 700;
  color: var(--color-white);
  cursor: pointer;
}
.btn-container button:hover {
  opacity: 0.9;
  transition: .5s ease;
}
@media screen and (max-width: 1024px) {
  .card-special-info {
    display: block;
  }
  .card-special-info .input-group {
    margin-right: 0;
  }
  .card-special-info .input-group input {
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  :root {
    --sd-font-size: 1.8rem;
    --medium-font-size: 2rem;
  }
  .checkout-container {
    width: 90%;
  }
  .form-container {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .btn-container button {
    width: 80%;
  }
}